body {
    display: flex;
    flex-direction: column;
   align-items: center;
    padding: 24px;
    height: 100vh;
}

h1 {
    padding: 20px;
    font-size: xx-large;
    color: brown;
}

img {
    flex:1;
    max-width:60%;
    height:auto;
}

.container {
    display:flex;
}

ul {
    
    flex-direction: row;
    text-align: center;
    padding: 12px;
    border: 2px brown;
    box-sizing: border-box; 
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

